@value colors: "styles/shared/colors";
@value light-gray, dark-gray from colors;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.introText {
  text-align: center;
}

.welcome {
  font-weight: 300;
  color: dark-gray;
  margin-top: 15%;
  font-size: 38px;
}

.subTitle {
  /* Just a silly example of how to use css modules */
  composes: bounce from "styles/shared/animations";
  font-weight: 300;
  color: light-gray;
  font-size: 30px;
}
